.form-control{
    display: flex;
}
#content{
    padding: 5px;
    height: 45px;
    width: 400px;
    resize: none;
}

.form-control button{
    height: 57px;
    line-height: 45px;
    border: none;
    padding: 5px;
    background-color: #ccc;
    text-align: center;
    width: 80px;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

.list-task{
    width: 600px;

}
.list-task h4{
    text-transform: uppercase;
    font-size: 18px;
}

.list-task ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-task ul li {
    display: flex;
    background: #f1f1f1;
    padding: 5px;
    margin-bottom: 5px;
    justify-content: space-around;
    font-weight: bold;

}

.list-task ul li div{
    width: 80%;
    
}
.list-task ul li a{
    text-decoration: none;
    display: block;
    margin-right: 8px;
    color:#333;
    padding: 5px;
}
.list-task ul li a:nth-of-type(2){
    background-color: red;
    border-radius: 5px;
}